//$sidebar-title-font-family: "Lato"
@use "variables" as *;
$sidebar-title-font-family: $font-family-heading;

$sidebar-title-font-size: 1.5rem;
//$sidebar-title-font-size: 1.5rem
$sidebar-title-font-weight: 900;
//$sidebar-title-line-height: 2em
$sidebar-title-color: rgb(113, 113, 113);

$sidebar-subtitle-font-family: $font-family-base;
$sidebar-subtitle-font-size: 1rem;
$sidebar-subtitle-font-weight: 400;
$sidebar-subtitle-line-height: 1.5rem;
$sidebar-subtitle-color: rgb(113, 113, 113);
$sidebar-subtitle-font-style: italic;

@mixin sidebar-width() {
    // Default sidebar width for screen widths more than 1400px
    width: 300px;

    @media (max-width: 1400px) {
        // Sidebar width for screen widths less than 1400px
        width: 260px;
    }

    @media (max-width: 900px) {
        // No sidebar for screen widths less than 900px
        display: none;
    }
}
aside {
    @include sidebar-width();
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
